h1 {
    text-align: center;
    color:forestgreen;
    text-shadow: 0cm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    text-align: center;
}
.tableborder{
    margin-left: 120px;
    margin-right: 120px;
    border-left: black;
    border-right: black;
}

#jobsmenu{
    width: 100px;
}
